/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around; 
  font-size: .625rem;
}
body > * {
  width: 85vw;
  border: 2px solid black;
  text-align: center;
  font-size: 2em;
}

header {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 2.2em;
}

/************** MAIN CARDS ******************/

.main {
  height: 75vh;
}
.main > * {
  border: 1px solid red;

}

/* GREETING */

#greet h2 {
  font-size: 2em;
}

#greet p {
  margin: 1em;
  line-height: 120%;
  text-align: left;
}

/* QUIZ */


/* ANSWER */


/*********** CONTROLS ************/
#controls {
  height: 12vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

button {
  height: 90%;
  width: 20%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
  display: none;
}

.hidden-button {
  display: none !important
}

  #thumbs-up.hidden-button::before, #thumbs-down.hidden-button::before {
    display: none !important;
  }

img{
  display: block;
  margin: 0 auto;
  height: 200px;
}