/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around; 
  font-size: .625rem;
}
body > * {
  width: 85vw;
  border: 2px solid black;
  text-align: center;
  font-size: 2em;
}

header {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 1.6em;
}

/************** MAIN CARDS ******************/

.main {
  height: 70vh;
}
.main > * {
  border: 1px solid red;

}

/* GREETING */

#greet h2 {
  font-size: 2em;
}

#greet p {
  margin: 1em;
  line-height: 120%;
  text-align: left;
}

/* QUIZ */
#quiz {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
  .drink-name {
    width: 100%;
  }
  #quiz img {
    width: 80%;
  }

/* ANSWER */
#answer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#answer img {
  width: 40%;
}

#ingredients {
  width: 50%;
}


/*********** SCORECARD ************/
#scoreCard {
  height: 8vh;
}

/*********** CONTROLS ************/
#controls {
  height: 12vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

button {
  height: 90%;
  width: 20%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
  display: none !important;
}

.hidden-button {
  display: none !important
}

  #thumbs-up.hidden-button::before, #thumbs-down.hidden-button::before {
    display: none !important;
  }
