/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body > * {
  margin: auto;
  max-width: 20em;
  border: 2px solid black;
}

.main > * {
  border: 1px solid red;
  height: 30em;
}

img{
  display: block;
  margin: 0 auto;
  height: 200px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
  display: none;
}